//main: ..//style.less

.footer {
    padding: 90px 0;
    background: url(.././images/dest/footerbg.jpg);
    background-repeat: no-repeat;
    background-position: -155px;
    background-size: cover;

    .footer_wrapper {
        display: flex;
        justify-content: space-between;

        .footer_start {
            width: 350px;

            .form_desc {
                font-weight: 700;
                text-align: center;
                margin: 30px 0;

                h4 {
                    font-size: 30px;
                    margin: 20px 0;
                }

                p {
                    color: #EC5E2B;
                    font-size: 22px;
                }
            }

            .form {

                input,
                select {
                    border: 1px solid #46C1C9;
                    background: none;
                }

                .btn {
                    background: #46C1C9;
                }
            }
        }

        .footer_end {
            width: 700px;
            position: relative;

            .price {
                bottom: 91px;
                left: 102px;

                .price_text {
                    font-size: 32px;
                }

                .newPrice {
                    font-size: 75px;
                }
            }

            img {
                width: 100%;
            }
        }
    }




}

@media screen and(max-width:966px) {

    .footer {
        .footer_wrapper {
            flex-direction: column-reverse;
            width: 400px;
            margin: 0 auto;

            .footer_end {
                width: auto;

                .price {
                    bottom: 58px;
                    left: 45px;

                    .price_text {
                        font-size: 22px;
                    }

                    .newPrice {
                        font-size: 52px;
                        line-height: 43px;
                    }
                }
            }

            .footer_start {
                margin: 0 auto;
            }
        }


    }
}

@media screen and(max-width:425px) {

    .footer {
        background-position: -255px 230px;
        padding-top: 30px;
        padding-bottom: 0;

        .footer_wrapper {
            padding: 0;
            width: 300px;
            margin: 0 auto;

            h2 {
                font-size: 23px;
            }

            .footer_start {
                width: auto;

                .form_desc {
                    width: auto;
                }

                .form {
                    width: auto;

                    input,
                    select {
                        width: 300px;
                    }
                }
            }

            .footer_end {
                .price {
                    bottom: 32px;
                    left: 32px;

                    .price_text {
                        font-size: 22px;
                    }

                    .newPrice {
                        font-size: 37px;
                    }
                }
            }
        }


        .footer_bottom {
            margin: 70px auto auto auto;
            width: 140px;

        }
    }

}